@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Silkscreen:wght@400;700&display=swap");
@import "tailwindcss";

/* Global size */
* {
  box-sizing: border-box;
}

html,
body {
  background: #251c13;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Silkscreen, sans-serif;
  overflow-x: hidden; /* prevents horizontal scrolling */
}

/* Board */
#board {
  display: flex;
  width: min(1200px, 100%);
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 1rem;
}

/* Column */
#column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 220px;
  max-width: 360px;
}

/* Droppable column area */
#column-droppable {
  overflow-y: auto;
  max-height: calc(100vh - 220px);
}
